<div class="navbar"> 
    <nav class="navbar navbar-expand navbar-dark bg-dark col-12" >
        <div class="navbar-nav">
            <a class="navbar-brand links" href="#" style="flex-direction: row; font-weight: bold;">
                <img src = "../../assets/logo.png" width="95" height="95" class="logo"> LET'S MOCK IT!
            </a>
        </div>

        <ul class="navbar-nav navbar-collapse justify-content-end mr-5" style="font-weight: bold;">
            <!-- <li *ngIf="isLoggedIn">
                <a class="nav-link" (click)=logout()>Logout</a>
            </li> -->
        </ul>
    </nav>

</div>